<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Tours</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="tours" [@expand]>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let tour of tours" [routerLink]="['/tourdetail', tour.id]" appHighlight>
        <img height="200px" src="{{ baseURL + tour.image }}" alt={{tour.name}}>
        <mat-grid-tile-footer>
          <h1> {{tour.name | uppercase}} </h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex [hidden]="tours || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
