<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>About Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>Kayaking tours is a sub branch of a Kayaking company, which was created to  in 2010 and has the goal to
          create scalable and sustainable model for incoming tourism in Belarus. Each belarus living in
          countryside usually has two houses in the garden: small and old one, where grandparents used to live,
          and new large house. Locals prefer to live in a smaller house, while large one is considered for guests.
          Our company took decision to create the infrastructure for hosting tourists based on existing resources and
          offer locals the possibility to earn additional money via renting their free houses.</p>
      </div>
    </div>
  </div>
</div>
