<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <mat-card *ngIf="tour" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{tour.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseURL + tour.image }}" alt={{tour.name}}>
    <mat-card-content>
      <p>{{tour.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="tour || errDishMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errDishMess">
    <h2>Error</h2>
    <h4>{{errDishMess}}</h4>
  </div>

  <mat-card *ngIf="promotion" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseURL + promotion.image }}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="promotion || errPromotionMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errPromotionMess">
    <h2>Error</h2>
    <h4>{{errPromotionMess}}</h4>
  </div>

  <mat-card *ngIf="leader" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{leader.name | uppercase}} {{leader.abbr | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ baseURL + leader.image }}" alt={{leader.name}}>
    <mat-card-content>
      <p>{{leader.designation}}</p>
      <p>{{leader.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div fxFlex [hidden]="leader || errLeaderMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errLeaderMess">
    <h2>Error</h2>
    <h4>{{errLeaderMess}}</h4>
  </div>

</div>
